APP_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8000

DEBUG=APP_ENV=="development"

#DATABASE_TYPE=sqlite
#DATABASE_PATH=./ads.db

DATABASE_TYPE=postgresql
DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_NAME=ads_platform
DATABASE_USER=ads_user
DATABASE_PASSWORD=ads_password

SECRET_KEY=change_this_in_production